html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
  /* Set your content font stack here: */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

* {
  outline: none;
}

.pure-g>div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding: 1em;
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0;
  }
}