.single-form-header {
	position: relative;
}

.main-header {
	background-color: #e0e0e0;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a, .logout {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
  	&:hover {
  		color: blue
  	}
  }
}